<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <%# If the cart has at least one item, render the list %>
        <% if (products.length > 0) { %>
            <ul>
                <%# Loop over each cart item; p = { productData: {...}, qty: N } %>
                <% products.forEach(p => { %>
                    <%# Display product title and quantity %>
                    <li>
                        <p><%= p.productData.title %> (<%= p.qty %>)</p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="productId" value="<%= p.productData.id %>">
                            <button class= "btn btn-danger" type="submit">Remove</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <%# Fallback message when the cart is empty %>
            <h1>No Products here</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>